* {
	box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 15px;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: var(--background-dark);
	border: var(--border-width) solid var(--background-light);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--background-light);
	border: var(--border-width) solid var(--background-dark);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: color-mix(in hsl shorter hue, var(--background-light) 80%, var(--background-dark) 20%);
}


html, body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
    background-image: url('./osa_background_tile.png');
    padding: 0px;
	margin: 0px;
}

body.light {
	--background-dark: #070817;
	--background-light: #DCE5EA;
	--primary-clr: #AAD86E;
	--accent-clr: #8087E5;
	--border-width: 5px;
	--border-width-thin: 1px;
}

body.dark {
	--background-dark: #E8E9F8;
	--background-light: #151E23;
	--primary-clr: #639127;
	--accent-clr: #1A217F;
	--border-width: 5.5px;
	--border-width-thin: 1.5px;
}

.title-1 {
	color: var(--background-dark);
	leading-trim: both;
	text-edge: cap;
	font-family: Ubuntu;
	font-size: 64px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.title-2 {
	color: var(--background-dark);
	leading-trim: both;
	text-edge: cap;
	font-family: Ubuntu;
	font-size: 48px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.heading-1 {
	color: var(--background-dark);
	leading-trim: both;
	text-edge: cap;
	font-family: Ubuntu;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.heading-2 {
	color: var(--background-dark);
	leading-trim: both;
	text-edge: cap;
	font-family: Ubuntu;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.normal-bold {
	color: var(--background-dark);
	leading-trim: both;
	text-edge: cap;
	font-family: Ubuntu;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.normal-regular {
	color: var(--background-dark);
	leading-trim: both;
	text-edge: cap;
	font-family: Ubuntu;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.normal-hidden {
	color: #0708179f;
	leading-trim: both;
	text-edge: cap;
	font-family: Ubuntu;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

iframe {
	all: unset;
    border-radius: 0px;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

span {
	font-size: inherit;
}

#container {
	display: flex;
	width: 100vw;
	height: 86.5vh;
    background: var(--background-light);
	margin: 25px;
    border-radius: 10px;
    border: var(--border-width) solid var(--background-dark);
}

#browser {
	height: 94.8%;
	width: 100%;
	flex-basis: 235%;
	margin: 10px;
	display: block;
    background: var(--background-light);
    border: var(--border-width) solid var(--background-dark);
	border-radius: 10px;
    overflow-y: scroll;
}

#controls {
	display: flex;
	gap: 20px;
	flex-direction: column;
	height: 94.8%;
	width: 100%;
    background: var(--background-light);
	margin: 10px;
}

#manage {
	height: 100%;
	flex-basis: 7.5%;
	display: flex;
	border: var(--border-width) solid var(--background-dark);
	border-radius: 10px;
}

.button {
	display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.listButton {
	width: 100%;
	margin: 5px;
	background-color: var(--background-light);
    border: var(--border-width-thin) solid var(--background-dark);
	border-radius: 5px;
}

#selected {
	padding: 10px;
	height: 100%;
	position: relative;
	background-color: var(--background-light);
	border: var(--border-width) solid var(--background-dark);
	display: flex;
	flex-direction: column;
	border-radius: 10px;
}

#metadata {
	height: 20px;
	align-self: stretch;
}

#description {
	align-self: stretch;
	height: 100%;
}

#buttons {
	display: flex;
}

.serverButton {
	width: 100%;
	background-color: var(--primary-clr);
	box-shadow: 0px 4px 0px 0px #82B63E;
	height: 30px;
	border-radius: 10px;
	color: var(--background-light)
}

#join {
	margin-right: 5px;
}

#list {
	margin-left: 5px;
}

.mainContainer {
	height: 7em;
	display: grid;
	place-content: center;
	grid-template-columns: calc(0.5fr / 2) repeat(2, 1.5fr);
	grid-template-rows: 0.5fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	border-top: var(--border-width) solid #ECF6FB;
	border-bottom: var(--border-width) solid #C3CCD0;
}

.iconContainer {
	grid-area: 1 / 1 / 2 / 2;
	position: relative;
	background-color: red;
}

.icon {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: auto;
	aspect-ratio: 1/1;
}

.textContainer {
	grid-area: 1 / 2 / 2 / 3;
}
.statsContainer {
	grid-area: 1 / 3 / 2 / 4
}
.ping {}
.players {}
.version {}
/* [google.com screenshot]
	# What order do CSS classes apply?
	## CSS Order Matters
	In CSS, the order in which we specify our rules matters.
	If a rule from the same style sheet, with the same level of specificity exists, the rule that is declared last in the CSS document will be the one that is applied.

"last in the CSS document"
L A S T   I N   T H E   F U C K I N G   D O C U M E N T
WHAT??????????

context: this used to be defined above .mainContainer so border-color didnt work while background-color did
*/