* {
    border-radius: 10px;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 14px;
}

::-webkit-scrollbar {
    width: 20px;
    border-left: 4px solid #555;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: #888;
    border-left: 4px solid #888;
    border-radius: 10px;
    margin-right: 10px;
}
::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


html, body {
	width: 100%;
	height: 100%;
	/* ugly as shit but it solves a scroll bar appearing out of nowhere */
	height: calc(100% - 10px);
    background-color: #484848;
    padding: 0px;
	margin: 0px;
}

iframe {
    border-radius: 0px;
	display: none;

	/* try real damn hard to make it full screen */
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

span {
	font-size: inherit;
}

#container {
	width: calc(100% - 40px);
	height: calc(100% - 40px);
	display: flex;
    background: #454b7f;
	margin: 20px;
    border-radius: 20px;
    border-bottom: 10px solid #313454;
}

#browser {
	height: calc(100% - 45px);
	width: calc(100% - 360px);
	padding: 20px;
	display: block;
	margin: 20px;
    background: #666666;
    border-top: 5px solid #313454;
    overflow-y: scroll;
	padding-bottom: 0px;
	padding-top: 0px;
}

#controls {
	display: block;
	width: 300px;
    background: #666666;
    border-top: 5px solid #313454;
	margin: 20px;
	margin-left: 0px;
}

#manage {
	margin-top: 5px;
	width: 100%;
	display: flex;
	height: 30px;
	margin-bottom: 7px;
}

.button {
	display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.listButton {
	width: calc(calc(100% / 3) - 10px);
	background-color: #aaaaaa;
    border-bottom: 5px solid #999999;
	margin-left: 5px;
	margin-right: 5px;
}

#selected {
	padding: 10px;
	height: calc(100% - 70px);
	margin-left: 5px;
	margin-right: 5px;
	background-color: #888;
    border-bottom: 2px solid #777;
}

#metadata {
	height: 15px;
	color: #444444;
    font-size: 14px;
}
#name {
	height: 30px;
	padding-top: 10px;
    font-size: 18px;
}

#description {
	height: calc(100% - 90px);
}

#buttons {
	display: flex;
}

.serverButton {
	width: calc(calc(100% / 2) - 5px);
	background-color: #4e57a3;
    border-bottom: 5px solid #3e4685;
	height: 30px;
	border-radius: 15px;
    font-size: 16px;
}

#join {
	margin-right: 5px;
}

#list {
	margin-left: 5px;
}

.mainContainer {
	height: 96px;
	display: flex;
	border: 5px solid #444;
	border-radius: 15px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 10px;
}
.textContainer {
}
.statsContainer {
	opacity: 50%;
	margin-left: auto; 
	margin-right: 0;
	text-align: right;
}
.icon {
	width: 96px;
	height: 96px;
	margin-right: 15px;
}
.name {
	font-size: 20px;
}
.description {
	font-size: 16px;
}
.ping {}
.players {}
.version {}

/* [google.com screenshot]
	# What order do CSS classes apply?
	## CSS Order Matters
	In CSS, the order in which we specify our rules matters.
	If a rule from the same style sheet, with the same level of specificity exists, the rule that is declared last in the CSS document will be the one that is applied.

"last in the CSS document"
L A S T   I N   T H E   F U C K I N G   D O C U M E N T
WHAT??????????

context: this used to be defined above .mainContainer so border-color didnt work while background-color did
*/
.selected {
	background-color: #888;
    border-color: #333;
}